.link:hover{
    color: lightskyblue;
    cursor: default;
    text-decoration: none;
    margin-left: 24px;
    margin-top: 40px
}

.link{
    color: black;
    text-decoration: none;
    margin-left: 24px;
    margin-top: 40px
}

.link-container{
    margin-left: 43%;
    background-color: white;
    border-radius: 10px;
    width: 15%;
    height: 30px;

}